@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap);

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat,sans-serif;
}

.container-fluid {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.row {
    max-width: 1100px;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

header .submenu {
    background-color: #21242e;
    color: #fff;
    padding: 20px 0;
}

header .submenu i {
    color: #fa573a;
    margin-right: 10px;
}

header .submenu a:hover {
    color: #fa573a;
}

header .submenu .row div {
    float: left;
    width: 25%;
}

header .submenu .row div:nth-child(3), header .submenu .row div:nth-child(4) {
    text-align: right;
}

@media (max-width: 768px) {
    header .submenu .row div span span, header .submenu .row div a span {
        font-size: 70%;
    }

    header .submenu .row div {
        text-align: center;
    }

    header .submenu .row div:nth-child(3), header .submenu .row div:nth-child(4) {
        text-align: center;
    }
}

@media (max-width: 768px) {
    header .submenu .row div a span {
        display: none;
    }

    header i {
        font-size: 125%;
        margin-right: 0;
    }
}
